body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "mario-party";
  src: url(./fonts/Mario-Party-Hudson-Font.ttf);
}

/*---------------------------- CARDS ----------------------------------------*/
.row .card-container {
  margin-top: 2vw;
}

.card-container .memcard {
  height: 15vw;
  width: 66%;
}

.card-body div {
  display: flex;
}

.memcard .card-img {
  margin: auto;
  width: 66%;
}

.card.face-up {
  transform: rotateY(360deg);
  opacity: 1;
  transition: transform 0.3s ease-out, opacity 0.3s 0.5s ease;
}

.card.face-down {
  background-color: rgb(35, 87, 137);
  transform: rotateY(180deg);
  transition: transform 0.3s ease-out, opacity 0.3s 0.5s ease;
}

.face-down .card-body {
  text-align: center;
  font-size: 15vw;
  font-weight: bold;
  color: rgb(241, 211, 2);
  transform: rotateY(180deg);
}

.card-mark {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card.face-down img {
  display: none;
}

.card.face-up img {
  display: block;
}

.card.face-up div {
  display: none;

}

.card.face-down div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card:hover {
  scale: 1.1;
}

@media screen and (max-width: 500px) {
  .card-container .memcard {
    height: 30vw;
  }
}

@media screen and (min-width: 750px) {
  .face-down .card-body {
    font-size: 9.3vw;
  }
}

@media screen and (min-width: 1200px) {
  .face-down .card-body {
    font-size: 7vw;
  }

  .row .card-container {
    margin-top: 1vw;
  }
}


/*---------------------------- START SCREEN  ----------------------------------------*/

.offcanvas-backdrop+.offcanvas {
  background-color: rgba(0, 0, 0, 0);
}

.offcanvas-body img:not(.start) {
  position: relative;
  top: 10%;
  max-height: 80%;
  filter: invert(95%) sepia(78%) saturate(1018%) hue-rotate(356deg) brightness(104%) contrast(101%);
}

.offcanvas-body img {
  position: relative;
  top: 25%
}

.offcanvas-body .start {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.offcanvas-body .start:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }

  40% {
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px)
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px)
  }
}

/*---------------------------- TIMER  ----------------------------------------*/
.timer {
  width: 50%;
  margin: 1rem auto;
  font-family: "mario-party";
  font-size: 5vw;
  text-align: center;
  background: -webkit-linear-gradient(rgba(255, 0, 0, 1), rgba(242, 255, 0, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/*---------------------------- TABLE ----------------------------------------*/
.v-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/*---------------------------- END SCREEN  ----------------------------------------*/
.end-txt {
  font-family: "mario-party";
  font-size: 5vw;
  background: -webkit-linear-gradient(rgba(255, 0, 0, 1), rgba(242, 255, 0, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-dialog .modal-content {
  background-color: rgba(0, 0, 0, 0.5);
}

/*---------------------------- AUDIO ICONS  ----------------------------------------*/
.audio {
  background-color: rgba(255 255 255 / 50%);
  border-radius: 1vw;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 7vw;
  filter: invert(95%) sepia(78%) saturate(1018%) hue-rotate(356deg) brightness(104%) contrast(101%);
}

/*---------------------------- MatchLabel ----------------------------------------*/
.match-label {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: calc(var(--bs-toast-max-width)/2 * -1);
}